.aligned {
    display: flex;
    align-items: center;
}
   
span {
    padding: 10px;
}

.book_category_name {
    padding-left: 1% !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.cat_name {
    font-family: 'Montserrat-Regular' !important;
    font-size: 20px; 
}

.booksList {
    padding-top: 10px;
}