.aligned {
    display: flex;
    align-items: center;
}
   
span {
    padding: 10px;
}

.book_category_name {
    padding-left: 1% !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.cat_name {
    font-family: 'Montserrat-Regular' !important;
    font-size: 20px; 
}

.booksList {
    padding-top: 10px;
}

.search {
    height: 40px !important;
    width: 80vw;
}

input[type="text"]
{
    font-size:20px;
    font-family: 'Montserrat-Regular';
}

.icon {
    padding: 10px;
    background: rgb(168, 183, 195);
    color: white;
    min-width: 10px;
    font-size: 20px;
    text-align: center;
  }

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
.icon-remove {
    cursor: pointer;
}

.bookdetails_component {
    padding: 1%;
}

@media only screen and (max-width: 540px) {
.search {
    height: 40px !important;
    width: 70vw;
}
}

.showslist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.show_card {
    cursor: pointer;
    margin: 1%;
}

.showslist_image {
    padding: 3%;
    border-radius: 20px;
}

.showlist_name {
    flex-wrap: wrap;
    width: 200px;
    text-align: left;
    word-break: break-all;
    font-family: 'Montserrat-Semibold';
    font-size: 12px;
}

.author {
    font-family: 'Montserrat-Regular';
    font-size: 12px;
}