.homepage_component {
    background-color: #F8F7FF;
}

.homepage_component_genred {
    padding-top: 10px;
}

.homepage_component_container {
    padding: 5%;
}

.category_image, .category_name {
    float: left;
}

.category_next {
    float: right;
}

.category_name {
    font-family: 'Montserrat-Semibold';
    font-size: 20px;   
    padding-top: 4px;
}

@media only screen and (max-width: 540px) {
    .homepage_component_container {
        padding: 5%;
    }
}