.text-color {
  color: #5E56E7;
}

.title {
  font-family: Montserrat-SemiBold;
}

.title-size {
  font-size: 48px;
}

li {
  display: inline-block;
  width: 100%;
  height: 200px;
  background-size: cover;
}

#block {
  width: 100%;
  height: 700px;
}

#list {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


* {
  margin: 0;
  padding: 0;
}