body {
  margin: 0;
  background-color: #F8F7FF;
  color: black;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

li {
  list-style: none;
}